node_modules/
.expo/*
*/.expo/*
frontend/my-upload-key.keystore
backend/inst_back/db.sqlite3
backend/inst_back/media/
**/migrations
backend/Pipfile
backend/Pipfile.lock
backend/database
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
./backend/Pipfile.lock
db.sqlite3
# macOS
.DS_Store
